<div class="d-flex justify-content-between">
  <h4>Bouts:</h4>
  <% bouts = [] %>
  <div class="btn-group-toggle petit" data-toggle="buttons">
    <label class="btn btn-success active">
      <input type="checkbox" checked autocomplete="off"> Petit
    </label>
  </div>
  <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
   <%= "  Petit  " %>
  </button>
<button type="button vingthEtUn" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
  <%= "    21    " %>
</button>
<button type="button excuse" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
 <%= "  Excuse  " %>
</button>
</div>

