.marker{
  position:relative;
}

.new-game{
  padding-top: 65px;
}

.levee-choix{
  position: absolute;
  right: 80px;
  top: 313px;
}

.new-round{
  position: absolute;
  right: 0;
  bottom: -129px;
}

.choices{
  position: absolute;
  right: 72px;
  bottom: -105px;
}

.chelem-choix{
    position: absolute;
    right: -31px;
    bottom: -76px;
}
